
.header{
    height: 15vh;
    background-color:#6c63ff;
}
.header img{
    height: 100px;
    width: 100px;
    margin: 10px 10px 10px 100px;
    border-radius:50%;
    border:10px solid #a09ce4;
    border-bottom: none;

}


.joinContainer{
    display: flex;
    z-index: 2;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    background-color:#a09ce4;
    flex-direction: row;
}

.joinContainer h1{
    color: whitesmoke;
}
.signin{
    width: 30vw;
    padding-right: 100px;
}
.signinForm{
    width: 30vw;
}
.joinContainer button
{
    background-color: #6c63ff;
color :white;
font-size : 1.5rem;
margin:10px 10px;
border: 2px solid #6c63ff;
box-shadow: 2px 2px black;
border-radius: 5px;
}
.joinContainer input{
    display: block;
    background :transparent;
    margin: 10px 10px;
    font-size:1.2rem;
    padding: 0 5px;
    border:none;
    border-bottom : 2px solid white;
    transition: border  0.2s ease-in;
    transition: transform  0.3s ease-in;

    /* box-shadow: 2px 2px; */
}
.joinContainer input:focus, 
.joinContainer input:hover, .joinContainer button:hover {
transform: scale(1.1);
border-bottom: 2px solid #6c63ff;

}


.chatPage{
    background-image: url('./images/chat.svg');
    background-repeat: no-repeat;
    background-color:#a09ce4;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction:column-reverse;
}
.chatContainer{
    background-color:transparent;
     display: flex;
    width:40%;
    align-items: center;
    flex-direction: column;
}
.chatContainerScroll{
    padding: 5% 0;
    height: 60vh;
    width:100%;
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-radius:10px 10px 0 0 ;
  overflow: auto;
  flex: auto;
  background-color:rgba(250,250,250,0.4);

}
.chatForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #5e5e5e;
}
.chatContainer > p{
    background-color:transparent;
    width: 40%;
    border-radius: 2px;
    padding: 5px 0px;
}


.chatContainer  input{
    width: 80%;
    margin-top: 5px;
    background-color:beige;
    padding: 5px;
    border-radius: 5px;
}
.chatContainer  button{
    padding: 5px 20px;

}
